.catalogoEFiltri {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.filtri {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    height: 100%;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 15px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);
    color: #144C63FF;
    font-family: Montserrat, serif;
    font-weight: bold;
}

#applicaFiltriBtn {
    width: 50%;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    justify-content: space-evenly;
    padding: 5px;
}

.catalogoOrdini {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
}

.gallery {
    width: 93%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#dettagliProdotto {
    display: flex;
    flex-wrap: wrap;
}

.galleryProdotto {
    width: 23%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.descrizioneProdotto {
    width: 60%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
}

.descrizioneProdotto p {
    font-family: Montserrat, serif;
    color: #302B63FF;
    font-size: 30px;
}

.descrizioneProdotto h1 {
    color: #302B63FF;
}

.descrizioneProdotto img {
    width: 50px;
    height: auto;
}

#dettagliProdotto a {
    text-decoration: none;
    height: 60px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50px;
}

.addToCart {
    height: 60px;
    width: 200px;
    background-color: #132233;
    border: 2px solid rgb(182, 128, 128);
    color: #eee;
    transition: .6s;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.addToCart span {
    transform: translateX(10px);
    transition: .5s;
}

.addToCart svg {
    transform: translateX(-300px);
    transition: .6s;
    z-index: 3;
    height: 20px;
}

.addToCart:hover {
    width: 60px;
    background-color: rgba(51, 34, 51, 0.815);
    box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
}

.addToCart:hover svg {
    transform: translateX(-5px);
}

.addToCart:hover span {
    transform: translateY(70px);
    font-size: .1rem;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery:hover {
    box-shadow: 7px 7px 14px rgb(232, 124, 8);
    transition: 0.3s ease;
    transform: translateY(-3px);
}

.description {
    display: grid;
    flex-wrap: wrap;
    text-align: left;
    font-family: Montserrat, serif;
    color: #302B63FF;
}

.description h5 {
    margin: 2px;
}


.slider-wrapper {
    width: 25%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    overflow-x: hidden;
    background-color: white;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    max-width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-btn {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: #333;
    margin: 0 0.5rem;
    cursor: pointer;
}

.slider-nav-btn:hover {
    background: #fff;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .catalogoOrdini {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 10px;
        padding: 10px;
    }
}