.catalogoEFiltri {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.filtri {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    height: 99%;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);
    color: #144C63FF;
    font-family: Montserrat, serif;
    font-weight: bold;
}

.applicaFiltriBtn {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    width: 75%;
    height: 40px;
}

.applicaFiltriBtn svg {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;
}

.applicaFiltriBtn:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.applicaFiltriBtn:hover .icon {
    transform: translate(4px);
}

.applicaFiltriBtn:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.applicaFiltriBtn::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}


.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    justify-content: space-evenly;
    padding: 5px;
}

.catalogoOrdini {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
}

.gallery {
    width: 93%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#dettagliProdotto {
    display: flex;
    flex-wrap: wrap;
}

.galleryProdotto {
    width: 23%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.descrizioneProdotto {
    width: 60%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
}

.descrizioneProdotto p {
    font-family: Montserrat, serif;
    color: #302B63FF;
    font-size: 30px;
}

.descrizioneProdotto h1 {
    color: #302B63FF;
}

.descrizioneProdotto img {
    width: 50px;
    height: auto;
}

#dettagliProdotto a {
    text-decoration: none;
    height: 60px;
    width: 200px;
    margin-top: 20px;
    border-radius: 50px;
}

.addToCart {
    height: 60px;
    width: 200px;
    background-color: #132233;
    border: 2px solid rgb(182, 128, 128);
    color: #eee;
    transition: .6s;
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.addToCart span {
    transform: translateX(10px);
    transition: .5s;
}

.addToCart svg {
    transform: translateX(-300px);
    transition: .6s;
    z-index: 3;
    height: 20px;
}

.addToCart:hover {
    width: 60px;
    background-color: rgba(51, 34, 51, 0.815);
    box-shadow: 20px 20px 96px #bebebe,-20px -20px 96px #ffffff;
}

.addToCart:hover svg {
    transform: translateX(-5px);
}

.addToCart:hover span {
    transform: translateY(70px);
    font-size: .1rem;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery:hover {
    box-shadow: 7px 7px 14px rgb(232, 124, 8);
    transition: 0.3s ease;
    transform: translateY(-3px);
}

.description {
    display: grid;
    flex-wrap: wrap;
    text-align: left;
    font-family: Montserrat, serif;
    color: #302B63FF;
}

.description h5 {
    margin: 2px;
}


.slider-wrapper {
    width: 25%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid #144C63FF;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    overflow-x: hidden;
    background-color: white;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    max-width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-btn {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: #333;
    margin: 0 0.5rem;
    cursor: pointer;
}

.slider-nav-btn:hover {
    background: #fff;
    opacity: 1;
}

.comandiAdmin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: #E87C08FF;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 600;
    color: #1f387e;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #1f387e;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #c5e5e4;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: black;
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #1f387e;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

.modificaQuantita {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}


.modificaQuantita input[type="number"] {
    width: 50px;
    height: 40px;
    font-family: Montserrat, serif;
    font-weight: bold;
    background-color: #f1f2f4;
    color: black;
    border-color: #E87C08FF;
}

.btnAggiungiProdotto {
    position: relative;
    width: 75%;
    height: 50px;
    border: none;
    background-color: #005f99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    transition-duration: .3s;
}

.Layer {
    width: 60px;
    position: absolute;
    left: -30px;
    transition-duration: .3s;
    animation: spin 5s  linear infinite;
}

.btnAggiungiProdotto:hover {
    transform: translateY(5px);
    box-shadow: 3px 3px 0px black;
    transition-duration: .3s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.btnAggiungiProdotto:hover .Layer {
    left: 0%;
    width: 100%;
    transition-duration: .3s;
}

.text {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    position: absolute;
    z-index: 2;
    transition-duration: .1s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.btnAggiungiProdotto:hover .text {
    color: transparent;
    transition-duration: .3s;
}
/* svg colors */
.cls-1 {
    fill: #242021;
}

.cls-2 {
    fill: #e82728;
}

.cls-3 {
    fill: #fefefe;
}

.cls-4 {
    fill: #e92728;
}

.cls-5 {
    fill: #005f99;
}

.cls-6 {
    fill: #fff;
}
/* svg colors */


@media screen and (max-width: 900px) {
    .catalogoOrdini {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 10px;
        padding: 10px;
    }
}

.aggiungiImmagine {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.3em;
    height: 5.3em;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
    background: rgba(235, 252, 254, 0.8);
}

.containerImmagine {
    position: relative;
    width: 3.5em;
    height: 3.1em;
    background: none;
    overflow: hidden;
}

.folder {
    content: "";
    position: absolute;
}

.folder_one {
    bottom: 0;
    width: 100%;
    height: 88%;
    border-radius: 3px;
    border-top: 2px solid rgb(206, 167, 39);
    background: linear-gradient(-35deg, rgb(238, 194, 47) 5%, rgb(255, 223, 118));
}

.folder_two {
    top: 5%;
    width: 38%;
    height: 19%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(206, 167, 39);
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.folder_two::before {
    content: "";
    position: absolute;
    display: inline;
    left: 88%;
    width: 0;
    height: 0;
    border-left: 7px solid rgb(206, 167, 39);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}

.folder_three {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.5em;
    bottom: 0;
    width: 2.5em;
    height: 0.9em;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(-35deg, rgb(25, 102, 218), rgb(109, 165, 249));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.folder_four {
    left: 1em;
    bottom: 0.3em;
    width: 1.5em;
    height: 0.18em;
    border-radius: 1em;
    background-color: rgb(20, 77, 163);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.active_line {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.9em;
    height: 0.4em;
    background-color: #999;
    border: none;
    border-radius: 1em;
    transition: all 0.15s linear;
}

.aggiungiImmagine:active .active_line,
.aggiungiImmagine:focus .active_line {
    width: 2.3em;
    background-color: rgb(41, 126, 255);
}

.aggiungiImmagine:focus .container {
    animation: wow 1s forwards;
}

@keyframes wow {
    20% {
        scale: 0.8;
    }

    30% {
        scale: 1;
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    65% {
        transform: translateY(4px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        scale: 1;
    }
}

.textAggiungiImmagine {
    content: "";
    position: absolute;
    top: -4.5em;
    width: 7.7em;
    height: 2.6em;
    background-color: #666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.25s linear;
}

.aggiungiImmagine:hover .textAggiungiImmagine {
    opacity: 1;
}


.buttonRestock {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.3em;
    height: 5.3em;
    border: none;
    cursor: pointer;
    border-radius: 0.4em;
    background: rgba(235, 252, 254, 0.8);
}

.containerRestock {
    position: relative;
    width: 3.5em;
    height: 3.1em;
    background: none;
    overflow: hidden;
}

.folder {
    content: "";
    position: absolute;
}

.folder_one {
    bottom: 0;
    width: 100%;
    height: 88%;
    border-radius: 3px;
    border-top: 2px solid rgb(206, 167, 39);
    background: linear-gradient(-35deg, rgb(238, 194, 47) 5%, rgb(255, 223, 118));
}

.folder_two {
    top: 5%;
    width: 38%;
    height: 19%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgb(206, 167, 39);
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.folder_two::before {
    content: "";
    position: absolute;
    display: inline;
    left: 88%;
    width: 0;
    height: 0;
    border-left: 7px solid rgb(206, 167, 39);
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}

.folder_three {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.5em;
    bottom: 0;
    width: 2.5em;
    height: 0.9em;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(-35deg, rgb(25, 102, 218), rgb(109, 165, 249));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.folder_four {
    left: 1em;
    bottom: 0.3em;
    width: 1.5em;
    height: 0.18em;
    border-radius: 1em;
    background-color: rgb(20, 77, 163);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.active_line {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.9em;
    height: 0.4em;
    background-color: #999;
    border: none;
    border-radius: 1em;
    transition: all 0.15s linear;
}

.buttonRestock:active .active_line,
.buttonRestock:focus .active_line {
    width: 2.3em;
    background-color: rgb(41, 126, 255);
}

.buttonRestock:focus .containerRestock {
    animation: wow 1s forwards;
}

@keyframes wow {
    20% {
        scale: 0.8;
    }

    30% {
        scale: 1;
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    65% {
        transform: translateY(4px);
    }

    80% {
        transform: translateY(0);
    }

    100% {
        scale: 1;
    }
}

.textRestock {
    content: "";
    position: absolute;
    top: -4.5em;
    width: 7.7em;
    height: 2.6em;
    background-color: #666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.25s linear;
}

.buttonRestock:hover .textRestock {
    opacity: 1;
}
