.manga-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 0 10px;
}

.manga-item {
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;
    width: 200px;
}

.manga-item img {
    width: 100%;
    height: auto;
}

.pop-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 0 10px;
}

.pop-item {
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;
    width: 200px;
}

.pop-item img {
    width: 100%;
    height: auto;
}

.figure-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 0 10px;
}

.figure-item {
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;
    width: 200px;
}

.figure-item img {
    width: 100%;
    height: auto;
}