#homePage {
    padding: 2rem;
    background: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%,
    #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%,
    #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);;
}

.slider-wrapper {
    position: relative;
    max-width: 56rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow-x: hidden;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-btn {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: #333;
    margin: 0 0.5rem;
    cursor: pointer;
}

.slider-nav-btn:hover {
    background: #fff;
    opacity: 1;
}

#hero{
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.welcome {
    background-color: white;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.welcome-img {
    display: flex;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
}

.welcome-img img {
    width: auto;
    height: 90%;
}

#hero h2, h4, p{
    margin: 0 0 10px;
    color: #302B63FF;
}

#hero h1 {
    margin: 0 0 10px;
    color: #E87C08FF;
}

#hero a {
    text-decoration: none;
}

.acquista-ora {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

.acquista-ora svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.acquista-ora span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.acquista-ora:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.acquista-ora:hover span {
    transform: translateX(7px);
}

#piuVenduti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#piuVenduti h2 {
    color: #302B63FF;
}

.prodotti{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.mangaPiuVenuti,
.popPiuVenuti,
.figurePiuVenuti{
    width: 27%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: 20px 20px 34px rgb(48, 43, 99);
    padding: 25px 15px;
    border-radius: 4px;
    margin: 50px 0;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    width: 160px;
}

.mangaPiuVenuti img,
.popPiuVenuti img,
.figurePiuVenuti img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.mangaPiuVenuti img:hover,
.popPiuVenuti img:hover,
.figurePiuVenuti img:hover {
    box-shadow: 7px 7px 14px rgb(232, 124, 8);
    transition: 0.3s ease;
    transform: translateY(-3px);
}

.mangaPiuVenuti h6,
.popPiuVenuti h6,
.figurePiuVenuti h6{
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    color: #302B63FF;
}

.mangaPiuVenuti a,
.popPiuVenuti a,
.figurePiuVenuti a{
    text-decoration: none;
}

