body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #721773;
    padding: 10px 20px;
}

nav img {
    max-height: 50px;
}

.logo {
    margin-right: auto;
    transform: scale(1.5);
}

.profilo {
    margin-left: auto;
}

.carrello {
    margin-left: 20px;
}

.logout {
    margin-left: 20px;
}
