@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f1f2f4
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(14deg, rgba(2,0,36, 0.8) 0%, rgba(24, 24, 65, 0.7) 66%,
    rgb(20, 76, 99) 100%), radial-gradient(circle, rgba(2,0,36, 0.5) 0%,
    rgba(32, 15, 53, 0.2) 65%, rgba(14, 29, 28, 0.9) 100%);
    padding: 10px 20px;
    position: relative;
}

nav img {
    max-height: 50px;
}

.logo {
    margin-right: 50px;
    transform: scale(1.5);
}

.catalogobar a{
    font-family: Montserrat, serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(241, 242, 244);
}

.profilo-menu, .catalogobar-menu{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.profilo-menu a, .catalogobar-menu a {
    font-family: Montserrat, serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 16px;
}

.profilo:hover .profilo-menu, .catalogobar:hover .catalogobar-menu{
    display: block;
}

.profilo-menu a:hover, .catalogobar-menu a:hover {
    background-color: #f1f1f1;
}

.profilo {
    margin-left: auto;
    position: relative;
}

.profilo .profilo-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 9999;
}

.catalogobar {
    margin-right: auto;
    position: relative;
}

.catalogobar .catalogobar-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 9999;
}

.carrello {
    margin-left: 20px;
}

.searchBox {
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #f1f2f4;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

:root {
    --gradient-2: linear-gradient(90deg, #f52a4f 0%, #e87c08 100%);
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2);
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: Montserrat, serif;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

@media screen and (max-width: 780px) {
    .searchBox {
        width: 200px;
    }

    .searchInput {
        padding: 16px;
        font-size: 12px;
    }

    .searchButton {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 660px) {
    .searchBox {
        margin-left: 37px;
        width: 120px;
    }

    .searchInput {
        padding: 16px;
        font-size: 12px;
    }

    .searchButton {
        width: 40px;
        height: 40px;
    }
}
