body {
    background-image: url("../img/luffy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center; /* Centrare verticalmente */
    align-items: center; /* Centrare orizzontalmente */
    height: 100vh; /* Altezza al 100% della viewport */
    margin: auto; /* Centra il div orizzontalmente e verticalmente */
    width: 250px; /* Larghezza fissa del div */
    max-height: 30vh; /* Altezza massima del div */
    transform: translate(-160%, 100%); /* Spostamento del 50% della larghezza e altezza del div */
}

.cards .red {
    background: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%,
    #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%,
    #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
}

.cards .blue {
    background : radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%,
    #009ce9 75%, #0085e0 100%);
}

.cards .green {
    background : radial-gradient(circle at 50% -20.71%, #3cf23c 0, #3cf23c 50%, #3cf23c 100%);
}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    transition: 400ms;
}

.cards a {
    font-family: Montserrat, serif;
    font-weight: bold;
    text-decoration: none;
    color: #f1f2f4;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}